@model string

<body class="bg-body bodySettings">
    <div class=" alert-view alert alert-primary" role="alert">
        @Model
    </div>
    <div class="text-center bg-text-color">
        <a class=" btn btn-success" asp-controller="Home" asp-action="Index">volta a Menu Principal</a>
    </div>
</body>