<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProductManagement.styles.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' asp-append-version="true">

</head>
<body class="bg-backgroud">
    <header>
        <nav class="border-bottom navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="padding10">
                            <div class="home">
                                <label>Gerenciador De Pedidos</label>
                            </div>
                        </li>
                        <li class="nav-item style-link">
                            <div class="social-media">
                                <a href="https://www.linkedin.com/in/thomas-jefferson-aquino-de-carvalho/" target="_blank"><i class="bx bxl-linkedin"></i></a>
                                <a href="https://github.com/thomas-jeff06" target="_blank"><i class="bx bxl-github"></i></a>
                                <a href="" target="_blank"><i class="bx bxl-instagram"></i></a>
                                <a href="" target="_blank"><i class="bx bxl-facebook"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProductManagement - <a href="https://github.com/thomas-jeff06" target="_blank">GitHub</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
